.body-container {
    display: grid;
    height: 35px;
    grid-template-columns: 40px auto 25px 95px 95px 15px;
    grid-template-rows: 30px;

    grid-auto-flow: row;
}

.item-1 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 10px;
    font-family: 'NTF-Grand';
    font-size: 20px;
    color: #c3a767;
    /* border: 1px solid yellow; */
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* border: 1px solid green; */
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
    opacity: 0.25;
    /* border: 1px solid red; */
}

.item-4 {
    grid-column: 4;
    grid-row: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* border: 1px solid blue; */
}

.item-5 {
    grid-column: 5;
    grid-row: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* border: 1px solid white; */
}

.item-6 {
    grid-column: 6;
    grid-row: 1;
    /* border: 1px solid purple; */
}

@media screen and (max-width: 576px) {
    /* //anything below 800 will get style, anything above will not */
    .body-container {
        display: grid;
        height: 35px;
        grid-template-columns: 10% 15% 25px 34% 25% 5%;
        grid-template-rows: 30px;
        min-width: 100%;

        grid-auto-flow: row;
    }
    .item-3 {
        grid-column: 3;
        grid-row: 1;
        opacity: 0.25;
        visibility: hidden;
        /* border: 1px solid red; */
    }
}
@media screen and (max-width: 768px) {
    /* //anything below 800 will get style, anything above will not */
    .body-container {
        display: grid;
        height: 35px;
        grid-template-columns: 10% 15% 25px 34% 25% 5%;
        grid-template-rows: 30px;
        min-width: 100%;

        grid-auto-flow: row;
    }

    .item-3 {
        grid-column: 3;
        grid-row: 1;
        opacity: 0.25;
        visibility: hidden;
        /* border: 1px solid red; */
    }
}
@media screen and (max-width: 992px) {
    /* //anything below 800 will get style, anything above will not */
}
@media screen and (max-width: 1200px) {
    /* //anything below 800 will get style, anything above will not */
}
