body {
    margin: 0;
    background: url('../assets/background_image.svg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'sidebar main main'
        'sidebar footer footer';
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 60px auto 100px;
    min-height: 100vh;
    color: white;
}

.item-header {
    grid-area: header;
    /* border: 1px solid white; */
}

.gradient {
    background: linear-gradient(0deg, #131212 50.55%, rgba(0, 0, 0, 0.0001) 99.52%);
}
