button.btn-default,
button.btn-default:hover {
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.check-border {
    border: 1px solid black !important;
}
